/* CSS FOR GENERAL SITE THEME */
header, .aid-navbar, .content-container, footer {
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
}
header {
  padding: 45px 20px 35px 20px;
  background-color: #FFFFFF;
  overflow: auto;
  position: relative; 
}
.header-text {
  color: #555555;
  float: left;
  width: 50%;
}
.header-text.header-name {
  float: right !important;
  text-align: right;
}
.aid-navbar {
  text-align: center !important;
  height: 50px !important;
  background-color: #F24440;
  padding: 12px 0px !important;
  font-size: large !important;
  font-weight: bold !important;
}
.aid-navbar a:link, .aid-navbar a:focus, .aid-navbar a:visited {
    color: #FFFFFF !important;
}
.aid-navbar .nav-link:hover {
  color: #555555 !important;
}
a {
  color: #F24440 !important;
}
footer a[class*='btn'] {
  color: #FFFFFF !important;
}
.content-list-item a:hover, .aid-navbar a:hover, #currentPage {
    color: #333333 !important;
    text-decoration: none !important;
}
.nav-link {
    margin: 0px 50px;
}
body {
  background-color: #CCCCCC !important;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-right: auto;
  margin-left: auto;
}
.content-container {
    text-align: justify;
    min-height: 500px;
    background-color: white;
    overflow: auto;
}
.content-container div {
    padding: 10px;
}
div {
  text-align: initial;
}
div.left-column {
    float:left;
    width:45%;
}
div.right-column {
    float:right;
    width:50%;
}
.content-column-center {
  margin: auto;
  text-align: center;
}
.content-column-left {
  margin: 50px;
  text-align: left;
}
.content-column-center h1 {
  margin-top: 50px;
}
.content-item, .content-list-item {
  font-size: 20px;
}
.content-item {
  margin-left: 25px !important;
  margin-right: 25px !important;
  text-align: justify;
}
ul#assignment-list {
  list-style: none;
  padding-left: 0;
}
p {
  margin: 5px 0px !important;
  display: block;
}
hr {
  margin: 0px 0px !important;
  border-width: 3px !important;
  border-color: #AEAEAE !important;
}
footer {
  background-color: #FFFFFF !important;
  overflow: hidden;
  padding: 10px;
}
footer > div {
  padding: 15px 0px;
}
.btn-social-icon {
  margin: 2px;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}
.text-gray {
  color: #848484;
}